*{
    text-align: center;
    padding: 0;
    margin: 0;
  }
  body{
    background-color: rgb(214, 225, 255);
  }

  h1{
    padding-top: 2rem;
  }
  
  .body-head{
    display: flex;
    background-color: rgb(236, 238, 248);
    padding: 1rem;
    align-items: center;
    width: 250px;
    margin: auto;
    border-radius: 10px;
  }
   
  p{
    margin: 2rem 0;
    padding-bottom: 2rem;
  }